.section__container_1 {
  max-width: 1200px;
  margin: auto;
  padding: 5rem 1rem;
}

.section__header_1 {
  font-size: 2.5rem;
  font-weight: 600;
  text-align: center;
}

.section__subheader_1 {
  margin-bottom: 10px;
  font-size: 1.2rem;
  text-align: center;
}

.section__description_1 {
  max-width: 600px;
  margin-top: 1rem;
  margin-inline: auto;
  color: #94a3b8;
  text-align: center;
}

.btn_1 {
  padding: 0.5rem 1.5rem;
  outline: none;
  border: none;
  font-size: 1rem;
  color: #04091d;
  background-image: linear-gradient(to right,
      #ee9821,
      #f8f208);
  border-radius: 5rem;
  cursor: pointer;
}

img {
  display: flex;
  width: 100%;
}



body {
  font-family: "Poppins", sans-serif;
  color: #ffffff;
  background-color: #04091d;
}

.header_1 {
  position: relative;
  background-color: #03060f;
}

.header__socials_1 {
  display: none;
  position: absolute;
  right: 0;
  /* top: 50%; */
  transform: translateY(40%);
  flex-direction: column;
  gap: 1rem;
  z-index: 1;
}

.header__socials_1 a {
  padding: 7px 13px;
  font-size: 1.5rem;
  color: #04091d;
  background-image: linear-gradient(to right,
      #ee9821,
      #f8f208);
}






.about__container_1 {
  display: grid;
  gap: 4rem;
}

.about__image_1 img {
  max-width: 450px;
  margin: auto;
}

.about__content_1 .section__header_1 {
  margin-bottom: 1rem;
  text-align: left;
}

.about__content_1 p {
  margin-bottom: 2rem;
  color: #94a3b8;
}

.about__content_1 h4 {
  padding: 2rem;
  margin-bottom: 2rem;
  font-size: 1rem;
  font-weight: 400;
  color: #94a3b8;
  background-color: #0f1221;
  border-left: 2px solid #ee9821;
  border-radius: 5px;
}

.about__btns_1 {
  display: flex;
  align-items: center;
  gap: 1rem;
}

.about__btns_1 .download__btn_1 {
  padding: 0.5rem 1.5rem;
  font-size: 1rem;
  border-radius: 5rem;
}

.about__btns_1 a {
  padding: 3px 8px;
  font-size: 1.25rem;
  color: #04091d;
  background-image: linear-gradient(to right,
      #ee9821,
      #f8f208);
  border-radius: 100%;
}

.banner__container_1 {
  padding-block: 2rem;
  display: grid;
  gap: 1rem;
}

.banner__card_1 {
  padding: 2rem 1rem;
  display: flex;
  align-items: flex-start;
  gap: 1rem;
  background-color: #0f1221;
  border-radius: 5px;
  border-bottom: 2px solid transparent;
  transition: 0.3s;
}

.banner__card_1:hover {
  border-color: #ee9821;
}

.banner__card_1 span {
  padding: 4px 10px;
  font-size: 1.5rem;
  background-color: #03060f;
  border-radius: 100%;
  transition: 0.3s;
}

.banner__card_1:hover span {
  color: #04091d;
  background-image: linear-gradient(to right,
      #ee9821,
      #f8f208);
}

.banner__card_1 h4 {
  margin-bottom: 5px;
  font-size: 1.2rem;
  font-weight: 600;
}

.banner__card_1 p {
  color: #94a3b8;
}

.project__header_1 {
  margin-bottom: 4rem;
  display: flex;
  align-items: center;
  justify-content: space-between;
  flex-direction: column;
  gap: 2rem;
}

.project__nav_1 {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  row-gap: 2rem;
}

.project__btn_1 {
  color: #ffffff;
  background-image: none;
  background-color: transparent;
}

.mixitup-control-active {
  color: #04091d;
  background-image: linear-gradient(to right,
      #ee9821,
      #f8f208);
}

.project__grid_1 {
  display: grid;
  gap: 1rem;
}

.project__card_1 img {
  border-radius: 5px;
  cursor: pointer;
}

.service__grid_1 {
  margin-top: 4rem;
  display: grid;
  gap: 4rem;
}

.service__card_1 {
  position: relative;
  padding: 2rem;
  padding-top: 3rem;
  text-align: center;
  background-color: #0f1221;
  border-bottom: 2px solid transparent;
  border-radius: 5px;
  transition: 0.3s;
}

.service__card_1:hover {
  border-color: #ee9821;
}

.service__card_1 span {
  position: absolute;
  top: 0;
  left: 50%;
  transform: translate(-50%, -50%);
  padding: 4px 10px;
  font-size: 2rem;
  background-color: #0f1221;
  border-radius: 2px;
  transition: 0.3s;
}

.service__card_1:hover span {
  color: #04091d;
  background-image: linear-gradient(to right,
      #ee9821,
      #f8f208);
}

.service__card_1 h4 {
  margin-bottom: 1rem;
  font-size: 1.2rem;
  font-weight: 600;
}

.service__card_1 p {
  color: #94a3b8;
}

.swiper {
  margin-top: 4rem;
  padding-bottom: 4rem;
  width: 100%;
}

.swiper-slide {
  padding-block: 2rem;
  background-color: #0f1221;
}

.swiper-pagination-bullet-active {
  background-color: #ee9821;
}

.blog__grid_1 {
  margin-top: 4rem;
  display: grid;
  gap: 2rem 1rem;
}

.blog__card_1 img {
  margin-bottom: 1rem;
  border-radius: 5px;
}

.blog__card_1 p {
  margin-bottom: 5px;
  color: #ee9821;
}

.blog__card_1 h4 {
  margin-bottom: 10px;
  font-size: 1.2rem;
  font-weight: 600;
}

.blog__card_1 a {
  color: #94a3b8;
  transition: 0.3s;
}

.blog__card_1 a:hover {
  color: #ee9821;
}


@media (width > 480px) {
  .banner__container_1 {
    grid-template-columns: repeat(2, 1fr);
  }

  .project__grid_1 {
    grid-template-columns: repeat(2, 1fr);
  }

  .service__grid_1 {
    grid-template-columns: repeat(2, 1fr);
    gap: 4rem 1rem;
  }

  .blog__grid_1 {
    grid-template-columns: repeat(2, 1fr);
  }




}

@media (width > 768px) {
  .header__socials_1 {
    display: flex;
  }




  .about__container_1 {
    grid-template-columns: repeat(2, 1fr);
    align-items: center;
    gap: 2rem;
  }

  .banner__container_1 {
    grid-template-columns: repeat(3, 1fr);
  }

  .project__header_1 {
    flex-direction: row;
  }

  .project__grid_1 {
    grid-template-columns: repeat(3, 1fr);
  }

  .service__grid_1 {
    grid-template-columns: repeat(3, 1fr);
  }



  .blog__grid_1 {
    grid-template-columns: repeat(3, 1fr);
  }


}

@media (width > 1024px) {
  .banner__container_1 {
    gap: 2rem;
  }

  .project__grid_1 {
    gap: 2rem;
  }

  .service__grid_1 {
    gap: 2rem;
  }

  .blog__grid_1 {
    gap: 2rem;
  }
}